div {
    max-width: 974px;  
    width: 100%;        
    margin: 0 auto; 

    textarea {
        border-radius: 4px;
        font-size: 14px;
        width: 254px;
        resize: none;
    }
}

p {
    word-wrap: break-word;  
    overflow-wrap: break-word;
}