@if (post$ | async; as post) {
    <button mat-flat-button (click)="back()">To back</button>
    <div>
        <h1>{{post.data?.userName}}</h1>
        <hr>
        <h2>{{post.data?.title}}</h2>
        <hr>
        <h3>{{post.data?.date}}</h3>
        <hr>
        <h4>{{post.data?.category?.category}}</h4>
        <hr>
        <p #content>{{post.data?.content}}</p>       
        <hr>
        <p>{{post.data?.likes}}</p>
        <button (click)="addLike()">Like</button>
        <p>{{nonSuccessMessageLike}}</p>
        <div style="display: flex;">
          <textarea appAutoResizeTextarea [formControl]="commentCtrl" placeholder="Type a comment .."></textarea>
          <button (click)="addComment()" mat-mini-fab style="border-radius: 4px;">
            <mat-icon>add</mat-icon>
          </button>
          @if (success) {
            <p style="color: greenyellow;">Comment was created</p>
          }
          @else if (success === false) {
            <p style="color: red;">Comment wasn't created</p>
          }
        </div>
        <hr>
        @if (post.data?.comments) {
            @for (comment of post.data?.comments; track comment.id) 
            {
                
                <h2>{{comment.userName}}</h2>
                <h4>{{comment.content}}</h4>
                <hr>
            }
        }
    </div>
}
@else {
  <p>Not found</p>
}

