@if (post$ | async; as post) {
    <button mat-flat-button (click)="back()">To back</button>
    <h1>{{post.data?.title}}</h1>
    <mat-divider/>
    <h2>{{post.data?.date}}</h2>
    <mat-divider/>
    <h3>{{post.data?.category?.category}}</h3>
    <mat-divider/>
    <p>{{post.data?.content}}</p>
    <mat-divider/>
    @if (post.data?.comments) {
        @for (comment of post.data?.comments; track comment.id) 
        {
            <mat-list-item>{{comment.comment}}</mat-list-item>
            <mat-divider></mat-divider>
        }
    }
}
@else {
    <p>Not found</p>
}

