@import "../../../../../styles.scss";
.selecter {
    margin-top: 7px;
    margin-bottom: 7px;
}

mat-paginator {
    width: 100%;
}

div {
    margin-top: 8px;
    margin-left: 8px;
    input {
        border-radius: 4px;
        font-size: 20px;
        height: 38px;
        width: 258px;
        margin-right: 6px;
    }
    .search {
        border-radius: 10px;
        background-color: #0d6efd;
        transition: opacity 0.3s; 
        border: 0px;
        color: white;
        cursor: pointer;
        width: 98px;
        height: 38px;

        &:hover {
            opacity: 0.5;
        }
    }
}

@media (max-width: $minWidth) {
    mat-paginator {
        width: $minWidth; 
    }
    mat-grid-list {
        width: $minWidth;
    }
}

.card {
    width: 232px;
    height: 188px;
    border-radius: 6px;
    background-color: rgb(85, 85, 85);
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 5px;
    overflow-x: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

