<form class="form" [formGroup]="userGroup">
    <mat-form-field class="input-width">
      <mat-label>Email</mat-label>
      <input type="text" matInput formControlName="userName" placeholder="Here your email address">
      @if (userGroup.hasError('email') && !userGroup.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if (userGroup.hasError('required')) {
        <mat-error>Email address is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field class="input-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Ex. User13%cd42" [type]="hidePassword ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        @if (userGroup.hasError('password') && !userGroup.hasError('required')) {
          <mat-error>Please enter a valid password</mat-error>
        }
        @if (userGroup.hasError('required')) {
          <mat-error>Password is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    <button mat-flat-button (click)="logIn()">Log in</button>
    @if (!check?.flag){
      <p><b style="color: red;">{{check?.message}}</b></p>
    }
</form>
