<app-menu/>

<div [formGroup]="postGroup">
    @if (categories) {
        <p>Category</p>
        <mat-form-field class="selecter">
            <mat-label>Categories of posts</mat-label>
            <mat-select (selectionChange)="onSelectChange($event)">
              <mat-option [value]="null">None</mat-option>
              @for (category of categories.data; track category.id) {
                <mat-option [value]="category.id">{{category.category}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
    }
    @else {
      Not found any categories
    }
    <p>Title</p>
    <textarea class="title-area" formControlName="title" maxlength="50"></textarea>

    <p>Content</p>
    <textarea class="content-area" formControlName="content" maxlength="3000"></textarea>
</div>
<button mat-button (click)="createPost()">Create post</button>
@if (!errorMessage?.flag && errorMessage) {
  <p><b style="color:rgb(236, 0, 0);">{{errorMessage.message}}</b></p>
}
