@import "./../../../../styles.scss";
.toolbar{
    width: 100%;
}

@media screen and (max-width: $minWidth) {
    .toolbar {
        width: $minWidth;
    }
}

a {
    margin-right: 10px;
}

.spacer {
    flex: 1; 
}

.flex {
    display: flex;
    align-items: center;
}