<div class="container"> 
    <app-menu/>
    @if (user) {
        <div class="content">
            Name: {{user.name}}
            Role: {{user.role}}
            @if (posts) {
                @if (posts.flag) {
                    <div class="grid">
                    @for (post of posts.data; track post.id) {
                        <app-user-post [post]="post"/>
                    }
                    </div>
                }
                @else {
                    {{posts.message}}
                }
            }
        </div>
    }   
</div>
