.container {
    display: flex;
    height: 100%;
    
    .content {
        flex-grow: 1;
        padding: 20px;
    }
}

.input-comment {
    border-radius: 4px;
    font-size: 14px;
    width: 254px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 232px);
    grid-auto-rows: minmax(0, auto);
    grid-gap: 44px;
}