<h2>Change role</h2>

<form>
  @if (roles$ | async; as roles) {
    <mat-form-field style="margin-right: 6px;">
      <mat-label>Choose role</mat-label>
      <mat-select (selectionChange)="onSelectChange($event)">
        <mat-option>None</mat-option>
        @for (item of roles.data; track item) {
          <mat-option [value]="item">{{item}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }

  <app-search-user-admin #search/>

  <button (click)="changeRole()">Change</button>
  @if (check) {
    <p [style.color]="check.flag ? 'greenyellow' : 'red'">
      {{ check.message }}
    </p>
  }
</form>
