<mat-toolbar class="toolbar">
    <span style="margin-right: 10px;">PostCreator</span>
    <a mat-stroked-button [routerLink]="['home']">Home</a>
    <a mat-stroked-button routerLink="post/post-list">Posts</a>
    @if (token){
        <a mat-stroked-button [routerLink]="['user/:id']">{{userName}}</a>
    }
    <span class="spacer"></span> 
    <div class="flex">
        <a mat-stroked-button [routerLink]="['auth/login']">Log in</a>
        <a mat-stroked-button [routerLink]="['auth/register']">Register</a>
    </div>
</mat-toolbar>